@font-face {
  src: "https://fonts.googleapis.com/css?family=Roboto";
  font-family: Roboto;
}

html {
  font-size: 16px;
}

body {
  font-size: 2em;
  font-family: Roboto, sans-serif;
}

header {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-size: 2rem;
}

main {
 /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

footer {
 /* font-family: Roboto, sans-serif; */
}
